@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body Font Family */
body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: rgb(119, 119, 119);
  background-color: #f8f8f8;
  padding: 0rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Loader Dots with Gradient */
.loader .dot {
  @apply w-3 h-3 rounded-full;
  background-image: linear-gradient(
    to right bottom,
    rgb(102, 201, 255),
    rgb(54, 78, 216)
  );
}

.chat-focused .heading {
  @apply opacity-0;
}

/* Backface visibility utility */
.backface-hidden {
  backface-visibility: hidden;
}

/* Form Text Fields */
.form-text {
  @apply w-full mt-2 mb-6 p-3 border border-gray-300 rounded shadow-md bg-white text-base sm:text-lg;
}

/* Hide scrollbar in modal */
#modal::-webkit-scrollbar {
  display: none;
}

#modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scroll {
  overflow: hidden;
}
